{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 {% endblock %}

{% block content %}


    <!-- Start Banner Hero -->
    <section >
        <div class="container">
            <div class="row row d-flex align-items-center py-5">
                
                <div class="col-lg-6">
                    <h1 class="h2 py-5 text-primary typo-space-line">台灣揚帆協會</h1>
                    <p class="light-about">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2007年協會成員看見偏鄉部落許多弱勢家庭的孩子，因家庭困境無法得到妥善照顧，導致營養不足，文化貧乏(Cultural deprivation )，學習落後，天生才能無法發揮。甚至因家庭環境因素產生偏差行為及思想。<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 因此協會編寫小一至國中九年級，適合偏鄉地區兒童、青少年之生命品格教育教材，在四十多所國中、國小校園進行四千多位孩子，每學期13週，每週一堂課之生命品格教育，在孩子人格發展最重要的階段中施行品格教育。且在八個部落社區進行弱勢家庭兒童青少年課後照顧班，內容有課業輔導、空中英語教室、肢體統合遊戲、遊戲治療、各項才藝班、國際品格創意營及青少年勇士戰鬥營會，供應營養豐富的點心和晚餐，在孩子家庭發生困境時，仍能得到好的培育、照顧，同時透過家訪、親子講座、協助困難家庭申請物資、急難救助，陪伴孩子家庭渡過困境，能用比較好的方式教養、關懷孩子。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深盼孩子天生才能得以發揮，影響家庭、族群、國家社會正向發展。讓每一個孩子都有溫暖的家，讓每一位孩子都能揚起生命的帆，航向光明燦爛的未來。

                    </p>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <a href="static/img/twsail-history.png"><img class="img-about" src="static/img/twsail-history.png" ></a>
                </div>
            </div>
        </div>

    </section>
    <!-- End Banner Hero -->




{% endblock %}
