{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 捐助我們 {% endblock %}

{% block content %}



    <!-- Start Feature Work -->
    <section class=" py-5">
        <div class="feature-work container my-4">
            <h1 class="text-center text-primary pt-3">課後照顧</h1>
            <p class="text-center pb-5 light-300">
               
            </p>
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-12 offset-lg-1 align-right text-center">
                    <h4 class="text-left text-primary pt-3 ">課輔班據點</h4><br>
                    <ul class="contact-info list-unstyled light-300">
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;花蓮志學喜樂之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;花蓮池南平安之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;花蓮新城恩典之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;花蓮豐裡豐盛之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;花蓮西林聖潔之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;台東知本榮耀之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;苗栗造橋盼望之家</li><br>
                        <li class="text-muted h4 mb-0"><i class="fas fa-home bx-contact"></i> &nbsp;高雄湖內迦南之家</li>                   
                    </ul>
             

                </div>
               <div class="col-lg-7 col-md-8 col-sm-12 offset-lg-1 align-left">
                     <div class="row">
                        <a class="col-sm-6" data-type="image" data-fslightbox="gallery">
                            <br>
                            <p class=" text-muted text-center   light-donate">國小課輔</p>
                            <img class="img-fluid" src="static/img/about_background.jpg">
                        </a>
                        <a class="col-sm-6" data-type="image" data-fslightbox="gallery">
                            <br>
                            <p class=" text-muted text-center   light-donate">國中課輔</p>
                            <img class="img-fluid" src="static/img/about_background.jpg">
                        </a>
                    </div>
                    <div class="row">
                        <a class="col-sm-6" data-type="image" data-fslightbox="gallery" >
                            <br>
                            <p class=" text-muted text-center   light-donate">課輔班家長會</p>
                            <img class="img-fluid" src="static/img/about_background.jpg">
                        </a>
                        <a class="col-sm-6" data-type="image" data-fslightbox="gallery">
                            <br>
                            <p class=" text-muted text-center   light-donate">課輔班晚餐</p> 
                            <img class="img-fluid" src="static/img/about_background.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature Work -->
    
    

    
    
    
{% endblock %}
