{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 聯絡我們 {% endblock %}

{% block content %}
    <!-- Start Contact -->
    <section class="container py-5 content">

        <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">聯絡我們</h1><br><br>


        <div class="row pb-4 ">
            <div class="col-lg-5">
                 <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class=" py-3 mb-2 text-center text-secondary">
                            <i class="fas fa-user-alt icon-contact-bg"></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">協會負責人(梅秘書長)</li>
                        <li class="text-muted"><i class="fas fa-phone-volume bx-contact"></i>&nbsp;&nbsp;0958-321-499</li>
                        <li class="text-muted"><i class="fas fa-phone-square-alt bx-contact"></i>&nbsp;&nbsp;03-8663405</li>
                        <li class="text-muted"><i class="fab fa-line bx-contact"></i>&nbsp;&nbsp;LINE ID：dorcasmei</li>
                        <li class="text-muted"><i class="fas fa-envelope-open bx-contact"></i>&nbsp;&nbsp;sail3405@gmail.com</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="py-3 mb-2 text-center  rounded text-secondary">
                            <i class="fas fa-church icon-contact"></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9  light-300">
                        <li class="h5 mb-0">花蓮辦公室(總部)</li>
                        <li class="text-muted"><i class="fas fa-map-marked-alt bx-contact"></i>&nbsp;&nbsp;974花蓮縣壽豐鄉志學村中山路三段106號</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class=" py-3 mb-2 text-center  rounded text-secondary">
                                <i class="fas fa-place-of-worship icon-contact"></i>                           
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">台東辦公室</li>
                        <li class="text-muted"><i class="fas fa-map-marked-alt bx-contact"></i>&nbsp;&nbsp;台東縣台東市知本里吉泰路10號</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class=" py-3 mb-2 text-center  rounded text-secondary">
                                <i class="fas fa-school icon-contact"></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">苗栗辦公室</li>
                        <li class="text-muted"><i class="fas fa-map-marked-alt bx-contact"></i>&nbsp;&nbsp;苗栗縣造橋鄉談文村學府路82號</li>
                    </ul>
                </div>
                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class=" py-3 mb-2 text-center  rounded text-secondary">
                            <i class="fas fa-home icon-contact"></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">高雄辦公室</li>
                        <li class="text-muted"><i class="fas fa-map-marked-alt bx-contact"></i>&nbsp;&nbsp;高雄市湖內區保生路394巷6號2樓</li>
                    </ul>
                </div>                
                
            </div>
            
            
            
      <!-- Start Contact Form -->
            <div class="col-lg-7 ">
                <img class="img-fluid" src="static/img/about_background.jpg">

            </div>
            <!-- End Contact Form -->            
            
            
            
        </div>
    </section>
{% endblock %}