{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 {% endblock %}

{% block content %}
   


   <!-- Start Our Work -->
    <section class="container py-5">

        <h1 class="text-center text-primary pt-3">品格教育</h1>
        <p class="text-center pb-5 light-300">
            每學期13週，每週一堂課之生命品格教育，在孩子人格發展最重要的階段中施行品格教育<br>
            下列為台灣揚帆協會自行編列的品格教育教材
        </p>
        <div class="row projects gx-lg-5">
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing social business">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img class="card-img-top" src="static/img/5.jpg.jpeg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">我真寶貴</h5>
                        <p class="card-text light-300 text-dark">
                            幫助孩子看見自己生命的意義與價值，保護自己不受菸酒毒品的傷害
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/333.jpeg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">光明之子</h5>
                        <p class="card-text light-300 text-dark">
                            幫助棄絕負面思想，建立正確的價值觀
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing graphic business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-03.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">勇於改變</h5>
                        <p class="card-text light-300 text-dark">
                            在困難當中學習成長改變自己
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project social business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-04.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">人緣高手</h5>
                        <p class="card-text light-300 text-dark">
                            學習與不同的人相處，擁有美好人際關係
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-05.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">長大成熟</h5>
                        <p class="card-text light-300 text-dark">
                           教導成為長大成熟的人需要擁有那些品格
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-06.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">展翅上騰</h5>
                        <p class="card-text light-300 text-dark">
                            對外發揮良好影響力，幫助別人成長
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-06.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">養成良好習慣</h5>
                        <p class="card-text light-300 text-dark">
                            建立各樣好習慣
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>            
            <a href="work-single.html" class="col-sm-6 col-lg-3 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="static/img/our-work-06.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">小豆花成長日誌</h5>
                        <p class="card-text light-300 text-dark">
                            小朋友在成長的階段，所要學習的各項品格
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                              Read more <i class='bx bxs-hand-right ms-1'></i>
                          </span>
                    </div>
                </div>
            </a>            
        </div>
       
    </section>
    <!-- End Our Work -->
 
{% endblock %}