{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 {% endblock %}

{% block content %}

    <!-- Start Banner Hero -->
    <section class="container ">
        <br>
        <div id="index_banner" >
            <!-- Start slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">

                   <div class="carousel-item active">
                        <div class=" col-lg-12 col-sm-12  col-md-12 ">
                            <a href="https://forms.gle/yAhYZeWQktp5Qfny8"><img class="img-home" src="static/img/home-part-time.gif" ></a>

                        </div>
                    </div>                        
                    
                

                    <div class="carousel-item ">
                        <div class=" col-lg-12 col-sm-12  col-md-12 ">
                            <a href="/contact"><img class="img-home" src="static/img/part-time.gif" ></a>
                        </div>

                    </div>                    
                    <div class="carousel-item">
                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                <a><img  class="img-home" src="static/img/background.gif" ></a>
                            </div>
                    </div>                    

                    <div class="carousel-item">
                        <div class=" col-lg-12 col-sm-12  col-md-12 ">
                                <a href="/donate"><img class="img-home" src="static/img/donate_food.gif" ></a>
                            </div>

                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                <a href="/donate"><img  class="img-home" src="static/img/donate-computer.gif" ></a>
                            </div>
                    </div>
                </div>

            <!-- End slider -->
        </div>
            
               <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <i class='bx bx-chevron-left'></i>
                  
                </a>
                <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <i class='bx bx-chevron-right'></i>
                    
                </a>
    </div>
 </section>
    <!-- End Banner Hero -->
{% endblock %}





