{%extends "base.html" %} 


{% block title %} 台灣揚帆協會 捐助我們 {% endblock %}

{% block content %}



    <!-- Start Feature Work -->
    <section class=" py-5 content">
            <h1 class="text-center text-primary pt-3">歡迎您成為孩子們的祝福</h1>

                
                
         <!-- Start Aim -->
            <div class="container my-4">
                <div class="row text-center">

                    <div class="objective col-lg-6">
                        <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                            <i class="display-4 bx bxs-bulb text-light"></i>
                        </div>
                        <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">工讀生</h2>
                        <p class="light-300">
                            歡迎您加入我們工讀的行列，我們在花蓮、台東、台南、苗栗接有招募
                        </p>
                    </div>

                    <div class="objective col-lg-6 mt-sm-0 mt-4">
                        <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                            <img class="img-fluid" src="static/img/volunteer.png">
                        </div>
                        <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">志工</h2>
                        <p class="light-300">
                            歡迎您加入我們工讀的行列，我們在花蓮、台東、台南、苗栗接有招募
                        </p>
                    </div>



                </div>
        <!-- End Aim -->               
                
                
                
                
                
                
                
                
                
                
        </div>
    </section>
    <!-- End Feature Work -->
    

    
    
    
{% endblock %}
